@import "tailwindcss";

html, body {
  overflow-x: hidden !important; 
  overflow-y: auto !important; 
  height: auto !important;
  scroll-behavior: smooth;  
}

main {
  display: block;
  min-height: 100vh;
}